@import "../settings/colors";
@import "../settings/fonts";

.form-header {
  display: flex;
  flex-direction: row;
}

.form-header-content-section {
  padding-top: 150px;
  margin-right: 279px;
}

.header-div p {
  text-align: center;
  font: normal normal normal 38px/55px Open Sans;
  letter-spacing: -0.76px;
  color: #3c3c3c;
  opacity: 1;
}

.decoration-div {
  padding-top: 25px;
  padding-bottom: 25px;
}

.form-header-steps-section-header {
  text-align: center;
  font: normal normal 300 40px/55px Open Sans;
  letter-spacing: 0px;
  color: #3c3c3c;
  opacity: 1;
}

.rhombus-section {
  padding-top: 50px;
  display: flex;
}

.rhombus-parent {
  width: 170px;
  height: 170px;
  // border: 1px solid blue;
  position: relative;
  padding: 10px;
}

.rhombus-child {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid lightgray;
  transform: rotate(45deg);
}

.rhombus-child-number {
  text-align: center;
  font: normal normal 300 32px/27px Open Sans;
  letter-spacing: 0px;
  color: #3c3c3c;
  opacity: 1;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}

.rhombus-child-text {
  padding-top: 30px;
}

.rhombus-child-text p {
  text-align: center;
  font: normal normal 300 22px/27px Open Sans;
  letter-spacing: 0px;
  color: grey;
  opacity: 1;
}

.form-details-padding {
  padding: 50px, 683px, 50px, 141px;
  background-color: #fad648;
}

.form-details-header {
  text-align: left;
  font: normal normal 600 36px/32px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  padding-top: 50px;
  padding-left: 141px;
}

.form-details-content {
  text-align: left;
  font: normal normal normal 22px/30px Open Sans;
  letter-spacing: 0px;
  color: #3c3c3c;
  opacity: 1;
  padding-top: 6px;
  padding-bottom: 50px;
  padding-left: 141px;
}

.form-steps {
  display: flex;
  flex-direction: column;
  height: 900px;
  width: 100%;
  background-image: url("../../assets/Background-Form.jpg");
  background-size: cover;
  // border: 1px solid blue;

}

.form-steps-number {
  // border: 1px solid teal;
  text-align: left;
  font: normal normal 300 24px/27px Open Sans;
  letter-spacing: 0px;
  color: #3c3c3c;
  opacity: 1;
  padding-left: 142px;
  padding-top: 36px;
  padding-bottom: 64px;
  flex: 1;
}

.form-steps-header {
  text-align: left;
  font: normal normal 600 36px/45px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  padding-left: 142px;
  padding-bottom: 45px;
}

.form-steps-giveaway-options {
  padding-left: 142px;
  padding-bottom: 100px;
}

.form-steps-giveaway-things p {
  text-align: left;
  font: normal normal 300 24px/32px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-weight: 300;
}

.form-steps-giveaway-picker {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
}

.form-steps-giveaway-picker label {
  text-align: left;
  font: normal normal 300 24px/32px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.form-steps-giveaway-picker input[type="checkbox"] {
  display: none;
}

// STYLOWANIE DROPDOWN MENU

.checkbox {
  cursor: pointer;
  display: flex;
}

.checkbox span {
  height: 40px;
  width: 40px;
  border: 1px solid grey;
  cursor: pointer;
  margin-right: 15px;
}

.checkbox input:checked + span {
  background-color: #fad648;
}


//DROPDOWN STYLING

.dropdown-section {
  display: flex;
  padding-left: 142px;
}

.dropdown-menu {
  display: flex;
  flex-direction: row;
}

.dropdown-menu-btn {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  padding: 15px;
}

.dropdown-menu-title {
  padding-right: 50px;
  display: flex;
  align-items: center;
}

.dropdown-menu-title p {
  text-align: left;
  font: normal normal 300 24px/32px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.dropdown-menu-text p {
  text-align: left;
  font: normal normal 300 24px/33px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  padding-right: 83px;
}

.dropdown-menu-content {
  display: flex;
}

// .dropdown-menu-text {
//   margin: 0px, 50px, 0px, 50px;
// }

// STYLOWANIE DROPDOWNU

.dropdown-menu-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: 400px;
}

.dropdown:hover .dropdown-menu-content {
  display: block;
}

.dropdown-menu-content button {
  border: none;
  display: flex;
  padding: 20px 50px;
  color: black;
  text-decoration: none;
  text-align: center;
  font: normal normal 300 24px/33px Open Sans;
  letter-spacing: 0px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-menu-content button:hover {
    background-color: #FAD648;
  }

// STYLOWANIE PRZYCISKÓW

.form-steps-buttons {
  flex: 1;
  flex-direction: row;
  padding: 40px;
  padding-bottom: 60px;
  padding-left: 128px;
}

.form-steps-button {
  display: flex;
  flex-direction: row;
}

.form-steps-buttons button {
  display: flex;
  flex-direction: row;
  display: flex;
  padding: 23px;
  padding-left: 63px;
  padding-right: 63px;
  text-align: left;
  font: normal normal 300 24px/32px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.7;
  background-color: none;
  justify-content: left;
  margin-right: 60px;
}

.back-btn {
  padding: 23px, 52px, 23px, 52px;
}

.next-btn {
  padding: 23px, 63px, 23px, 63px;
  // margin-left: 50px;
}

.questionnaire-content {
  flex: 10
}
