@import "../settings/colors";
@import "../settings/fonts";

.login-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow: hidden;
}

.login-content-section {
    background-color: white;
    max-width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-right: 40px;
}

.login-navigation {
    display: flex;
    flex-direction: column;
    margin-left: 960px;
    // margin-right: 50px;
}

.login-user-menu {
    // display: flex;
    padding: 40px;
    padding-bottom: 0px;
}

.login-user-menu ul {
    text-decoration: none;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    padding-left: 580px;
    font-family: $font-base;
    color: $color-grey;
    font-size: 18px;
}

.login-user-menu li {
    padding: 10px;
    color: $color-grey;
    text-decoration: none;
    // border: 1px solid rgb(243, 200, 90);
}

.login-page-menu {
    padding: 40px;
    padding-top: 10px;
    padding-bottom: 150px;
}

.login-page-menu ul {
    display: flex;
    justify-content: space-between;
    font-family: $font-base;
    color: $color-grey;
    font-size: 22px;
}

.login-page-menu li {
    padding: 20px;
    // border: 1px solid grey;
}

.login-logging-section {
    max-width: 100%;
    margin-left: 600px;
    margin-right: 600px;
    display: flex;
    flex-direction: column;
}

.login-header {
    font-family: $font-base;
    font-size: 50px;
    color: $color-darkgrey;
}

.login-header div {
    padding-top: 20px;
    padding-bottom: 50px;
}

.login-textarea {
    background-color: #f2f3f3;
    margin-right: 110px;
    margin-left: 110px;
    margin-bottom: 60px;
    display:flex;
    flex-direction: column;
}

.login-textarea-content {
    padding: 40px;
    text-align: left;
    font-family: $font-base;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    resize: none;
}

.login-form-text {
    // padding-top: 20px;
    font-family: $font-base;
    color: $color-grey;
    text-decoration: none;
    background-color: #f2f3f3;
    border: 0px;
    border-bottom: 1px solid grey;
}

.login-buttons {
    display: flex;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
}

.login-btn {
    // border: 1px solid $color-grey;
    padding: 25px;
    text-decoration: none;
    display: flex;
    font-family: $font-base;
    color: $color-grey;
    font-size: 20px;
}