@import "../settings/colors";
@import "../settings/fonts";

.navheader-container {
    display: flex;
    max-width: 100%;
    overflow: hidden;
}

.img-section {
    display: flex;
    justify-content: flex-end;
    max-width: 50%;
    overflow: hidden;
}

.content-section {
    background-color: white;
    max-width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header p {
    font-family: $font-base;
    font-size: 40px;
    color: $color-darkgrey;
    padding-bottom: 20px;
}

.decoration {
    padding-top: 25px;
    padding-bottom: 40px;
}

.nav-buttons {
    display: flex;
    justify-content: space-evenly;
}

.main-section {
    padding-right: 30px;
    padding-left: 30px;
}

.nav-btn {
    font-size: 37px;
    font-family: $font-base;
    color: $color-grey;
    border: 1px solid $color-grey;
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;
    width: 280px;
    background-color: white;
    font-weight: 200px;
    padding-right: 30px;
    padding-left: 30px;
}