@import "../settings/colors";
@import "../settings/fonts";

@import "../settings/colors";
@import "../settings/fonts";

.navigation-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden;
  align-items: flex-end;
}

.navigation-page-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: $font-base;
  color: $color-grey;
  font-size: 22px;

  li {
    line-height: 1.5em;
    padding-right: 30px;
  }
}

.navigation-user-menu {
  padding-top: 46px;
}

.navigation-page-menu {
  padding-top: 25px;
}

.navigation-user-menu ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: $font-base;
  color: $color-grey;
  font-size: 18px;

  li {
    padding: 0 20px;
  }

  .give-away-btn {
    padding: 10px;
    border: 1px solid $color-yellow;
  }
}

a {
  text-decoration: none;
  color: $color-darkgrey;
}

.inactive-header-link span {
  font-size: 30px;
}

.logout-btn {
  background-color: transparent;
  border: none;
  // font-family: $font-base;
  // font-size: 18px;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
}