@import '../settings/colors';
@import '../settings/fonts';

.three-columns-container {
    display: flex;
    background-image: url(../../../src/assets/background-image-columns.png);
    max-width: 100%;
    align-items: center;
}

.stats-section {
    padding-left: 60px;
    padding-right: 60px;
}

.stats-number {
    font-size: 90px;
    font-family: $font-base;
    color: #5E5322;
    margin-top: 60px;
    margin-bottom: 30px;
    font-family: $font-base;
    font-weight: 300;
}

.stats-title {
    font-size: 28px;
    font-weight: 300;
    font-family: $font-base;
    color: #3C3C3C;
    letter-spacing: -0.36px;
}

.stats-description  {
    font-size: 20px;
    font-family: $font-alt;
    letter-spacing: -0.32px;
    color: $color-darkgrey;
    padding-top: 50px;
    padding-bottom: 50px;
}