// @import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Open+Sans:wght@300;400&display=swap');

@import "settings/colors";
@import "settings/fonts";
@import "generic/reset";
@import "./components_scss/Navheader.scss";

body {
  font-family: $font-base;
  background-color: white;
  text-align: center;
}

* {
  box-sizing: border-box;
}

#app {
  width: 1900px;
  margin: 0 auto;
}
